In [1]:
import pandas as pd
import pyodbc
import numpy as np

In [2]:
import sqlCredentials as sql

In [3]:
sandbox = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'Server=52.86.56.66;'
    'Database=PROCUREMENTDB;'
    'UID='+sql.username+';'
    'PWD='+sql.password+';'
    'Trusted_connection=no;'
)

In [4]:
pub_dict = """
SELECT *
FROM dbo.PublisherDictionary
"""

In [5]:
df = pd.read_sql(pub_dict,sandbox)

In [6]:
df.head()

,PublisherLong,PublisherShort
0,"""Abrams, Inc.""",ABRAMS
1,"""Addison-Wesley Longman, Incorporated""",PEARSON
2,"""Addison-Wesley Longman, Limited""",PEARSON
3,"""Allyn & Bacon, Incorporated""",PEARSON
4,"""American Occupational Therapy Association, In...","American Occupational Therapy Association, Inc..."

In [7]:
df.dtypes

PublisherLong     object
PublisherShort    object
dtype: object

In [8]:
megalist = """
SELECT *
FROM Process.SupplierMegaList
"""

In [9]:
megalist = pd.read_sql(megalist,sandbox)

In [10]:
megalist.head()

,ISBN,Supplier,ListName,Publisher,Currency,ListPrice,Discount,CostUnitPrice,OrderPercentFee,FlatRateFee,...,MaxCostPerOrder,MinCostPerOrder,ShipmentOrigin,Recurrency,Stockqty,UnitShippingCost,ExpirationDate,TotalUnitCost,Comment,Timestamp
0,9780262530873,BILLSON,pubs_matrix,UNIVERSITY PRESS,GBP,4.99,0.38,3.09,0.03,0.0,...,0.0,0.0,UK,weekly,3,3.47,2020-03-06,7.06,None,2020-03-24 18:00:00.817
1,9780262530989,BILLSON,pubs_matrix,UNIVERSITY PRESS,GBP,25.00,0.38,15.50,0.03,0.0,...,0.0,0.0,UK,weekly,3,3.47,2020-03-06,21.49,None,2020-03-24 18:00:00.817
2,9781760110185,ZOOKAL,Zookal Supplylist 3-23-2020,ALIEN & UNWIN,AUD,0.00,0.00,13.00,0.00,0.0,...,0.0,0.0,AUS,1 time,150,3.30,2020-09-19,10.82,None,2020-03-24 18:00:00.817
3,9780262531092,BILLSON,pubs_matrix,UNIVERSITY PRESS,GBP,37.95,0.38,23.53,0.03,0.0,...,0.0,0.0,UK,weekly,3,3.47,2020-03-06,30.82,None,2020-03-24 18:00:00.817
4,9780262531146,Bertrams,BertramsFTP3110,N/A,GBP,45.00,0.00,0.00,0.00,0.0,...,0.0,0.0,UK,weekly,0,3.47,2020-01-13,55.77,None,2020-03-24 18:00:00.817

In [11]:
megalist.dtypes

ISBN                        object
Supplier                    object
ListName                    object
Publisher                   object
Currency                    object
ListPrice                  float64
Discount                   float64
CostUnitPrice              float64
OrderPercentFee            float64
FlatRateFee                float64
LeadTimeWeeks               object
MaxQtyPerOrder               int64
MinQtyPerOrder               int64
MaxCostPerOrder            float64
MinCostPerOrder            float64
ShipmentOrigin              object
Recurrency                  object
Stockqty                     int64
UnitShippingCost           float64
ExpirationDate      datetime64[ns]
TotalUnitCost              float64
Comment                     object
Timestamp           datetime64[ns]
dtype: object

In [12]:
megalist.columns

Index(['ISBN', 'Supplier', 'ListName', 'Publisher', 'Currency', 'ListPrice',
       'Discount', 'CostUnitPrice', 'OrderPercentFee', 'FlatRateFee',
       'LeadTimeWeeks', 'MaxQtyPerOrder', 'MinQtyPerOrder', 'MaxCostPerOrder',
       'MinCostPerOrder', 'ShipmentOrigin', 'Recurrency', 'Stockqty',
       'UnitShippingCost', 'ExpirationDate', 'TotalUnitCost', 'Comment',
       'Timestamp'],
      dtype='object')

In [13]:
sup_list = megalist[['ISBN', 'Supplier', 'Publisher', 'Currency','ListPrice','Discount','CostUnitPrice', 'UnitShippingCost', 'MaxQtyPerOrder']]

In [14]:
sup_list.head()

,ISBN,Supplier,Publisher,Currency,ListPrice,Discount,CostUnitPrice,UnitShippingCost,MaxQtyPerOrder
0,9780262530873,BILLSON,UNIVERSITY PRESS,GBP,4.99,0.38,3.09,3.47,1000
1,9780262530989,BILLSON,UNIVERSITY PRESS,GBP,25.00,0.38,15.50,3.47,1000
2,9781760110185,ZOOKAL,ALIEN & UNWIN,AUD,0.00,0.00,13.00,3.30,150
3,9780262531092,BILLSON,UNIVERSITY PRESS,GBP,37.95,0.38,23.53,3.47,1000
4,9780262531146,Bertrams,N/A,GBP,45.00,0.00,0.00,3.47,100

In [15]:
sup_list['price'] = np.where(sup_list['ListPrice'] == 0.00, sup_list['CostUnitPrice'], sup_list['ListPrice'])

C:\Users\Jose\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
sup_list.head()

,ISBN,Supplier,Publisher,Currency,ListPrice,Discount,CostUnitPrice,UnitShippingCost,MaxQtyPerOrder,price
0,9780262530873,BILLSON,UNIVERSITY PRESS,GBP,4.99,0.38,3.09,3.47,1000,4.99
1,9780262530989,BILLSON,UNIVERSITY PRESS,GBP,25.00,0.38,15.50,3.47,1000,25.00
2,9781760110185,ZOOKAL,ALIEN & UNWIN,AUD,0.00,0.00,13.00,3.30,150,13.00
3,9780262531092,BILLSON,UNIVERSITY PRESS,GBP,37.95,0.38,23.53,3.47,1000,37.95
4,9780262531146,Bertrams,N/A,GBP,45.00,0.00,0.00,3.47,100,45.00

In [17]:
sup_list.drop(columns = ['ListPrice', 'CostUnitPrice'], inplace = True)

C:\Users\Jose\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [18]:
sup_list

,ISBN,Supplier,Publisher,Currency,Discount,UnitShippingCost,MaxQtyPerOrder,price
0,9780262530873,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,1000,4.99
1,9780262530989,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,1000,25.00
2,9781760110185,ZOOKAL,ALIEN & UNWIN,AUD,0.00,3.30,150,13.00
3,9780262531092,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,1000,37.95
4,9780262531146,Bertrams,N/A,GBP,0.00,3.47,100,45.00
...,...,...,...,...,...,...,...,...
3320779,9780141191669,ALEK,RANDOM HOUSE,USD,0.64,0.50,5000,20.00
3320780,9780141191744,ALEK,RANDOM HOUSE,USD,0.64,0.50,5000,19.00
3320781,9780141191751,ALEK,RANDOM HOUSE,USD,0.64,0.50,5000,11.00
3320782,9780141191768,ALEK,RANDOM HOUSE,USD,0.64,0.50,5000,15.00
3320783,9781760110178,ZOOKAL,ALIEN & UNWIN,AUD,0.00,3.30,150,13.00

In [19]:
sup_list['Supplier'].unique()

array(['BILLSON', 'ZOOKAL', 'Bertrams', 'ALEK', 'ALEK ', 'Probook',
       'Billson', 'UT', 'Laurentiu', 'ABE', 'SENAD', 'Alek', 'Friday',
       'BRYAN', 'RAJAN', 'LAURENTIU', 'SOHRAB', 'Apex', 'laurentiu',
       'APEX', 'PROBOOK', 'Sohrab', 'Billson T', 'MYAMMAR', 'Bryan',
       'Textbook Trade HK', 'GAUTAM', 'WESTERN CAMPUS', 'Felipe/Armando',
       'FELIPE/ARMANDO', 'Armando', 'Billson - SCI'], dtype=object)

In [20]:
def clean_up(phrase):
    phrase = phrase.lstrip()
    phrase = phrase.rstrip()
    phrase = phrase.upper()
    return phrase

In [21]:
str_columns = ['ISBN', 'Supplier', 'Publisher', 'Currency']

for col in str_columns:
    sup_list[col] = sup_list.apply(lambda x: clean_up(x[col]), axis =1)
    
sup_list['Supplier'].unique()

C:\Users\Jose\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

array(['BILLSON', 'ZOOKAL', 'BERTRAMS', 'ALEK', 'PROBOOK', 'UT',
       'LAURENTIU', 'ABE', 'SENAD', 'FRIDAY', 'BRYAN', 'RAJAN', 'SOHRAB',
       'APEX', 'BILLSON T', 'MYAMMAR', 'TEXTBOOK TRADE HK', 'GAUTAM',
       'WESTERN CAMPUS', 'FELIPE/ARMANDO', 'ARMANDO', 'BILLSON - SCI'],
      dtype=object)

In [22]:
for col in str_columns:
    print(sup_list[col].unique())

['9780262530873' '9780262530989' '9781760110185' ... '9780141191577'
 '9780141191652' '9781760110178']
['BILLSON' 'ZOOKAL' 'BERTRAMS' 'ALEK' 'PROBOOK' 'UT' 'LAURENTIU' 'ABE'
 'SENAD' 'FRIDAY' 'BRYAN' 'RAJAN' 'SOHRAB' 'APEX' 'BILLSON T' 'MYAMMAR'
 'TEXTBOOK TRADE HK' 'GAUTAM' 'WESTERN CAMPUS' 'FELIPE/ARMANDO' 'ARMANDO'
 'BILLSON - SCI']
['UNIVERSITY PRESS' 'ALIEN & UNWIN' 'N/A' 'RANDOM HOUSE' 'FOOTPRINT'
 'ROWMAN & LITTLEFIELD' 'OXFORD' 'HARPER COLLINS'
 'PENGUIN RANDOM HOUSE USA' 'T&F' 'TF' 'EYE ON EDUCATION' 'PERIBO'
 'PRINCETON' 'SAGE' '"SAGE PUBLICATIONS, INC"' 'ALEK' 'CAMBRIDGE'
 'CUP ELT' 'CAMBRIDGE SEC. EDUCATION OTO' 'ADAMS MEDIA CORPORATION'
 'BEYOND WORDS PUBLISHING' 'EUROSPAN' 'DOVER' 'WILEY' 'CENGAGE' 'HEINLE'
 'FOCAL PR' 'FA DAVIS' 'ELSEVIER' 'ELSEVIER HEALTH'
 'GAZELLE BOOK SERVICES' 'MELIA PUBLISHING SERVICES LTD' 'CHELSEA G'
 'CHELSEA GREEN PUBLISHING CO' 'THIEME' 'SPRINGER' 'FINDHORN PRESS LTD'
 'MCGRAW' '"""ARCHIVE EDITIONS, LIMITED"""' 'LYNNE RIENNER' 'CICERONE'
 'UNITED' 'ELSEVIER ST 009A' 'ELSEVIER S&T. ST08' 'PEARSON'
 '"""PEARSON EDUCATION, LIMITED"""' 'NONE' 'GAMES WORKSHOP' 'NORTON'
 'AVIVA PUB' 'OXFORD UP ELT' 'ELSEVIER SCIENCE & TECHNOL OTO'
 'TORONTO UNIVERSITY PRESS' 'MACMILLAN' 'BLOOMSBURY' 'RFF PRESS'
 'EUROSPAN OTO' 'TIMBER PRESS' 'PM PRESS' 'MATERIALS RESEARCH SOCIETY'
 'CBL DISTRIBUTION LIMITED' 'LWW' 'W KLUWER' 'WOODSLANE'
 'SPECIAL SALES PROMOTION' 'SWEDISH PHARMACEUTICAL PRESS'
 'INTER TECH/PRACTICAL ACTION PU' 'FREE ASSOCIATION BOOKS'
 'DAVID FULTON PUBLISHERS' 'W KLUWER HEALTH' 'WESTMINSTR'
 'SIMON & SCHUSTER' 'PENGUIN RANDOM HOUSE, INC.' 'VIKING PRESS'
 'HEINEMANN' 'CLEARWAY PHASE 1' 'JOHN BENJAMINS PUBLISHING'
 'NETHERLANDS INSTITUTE FOR SOCIAL RESEARCH'
 'INNER TRADITIONS BEAR AND COMPANY' 'COMBINED ACADEMIC PUB HB'
 'LIGHTNING SOURCE UK LTD' '0' 'EMERALD'
 '"""ALLYN & BACON, INCORPORATED"""' 'THAMES & HUDSON'
 'SAGE PUBLICATIONS PVT. LTD' 'MINNESOTA UNIVERSITY PRESS PB'
 'CENTRAL BOOKS' 'RIZZOLI/ RANDOM HOUSE' 'WIZARDS OF THE COAST'
 'CHICAGO UNIVERSITY PRESS' 'ANDREWS MCMEEL PUBLISHING'
 'GREENWOOD PUBLISHING (POD)' 'BROOKINGS' 'CALIFORNIA UNIVERSITY PRESS'
 "O'REILLY" 'RAINTREE HARDBACKS'
 'CHICKEN SOUP FOR THE SOUL PUBLISHING, LLC' 'HACHETTE LIVE'
 'SCRIBNER BOOK COMPANIES' 'J&B' 'NON BASIC STOCK LINE' 'ESTATES GAZETTE'
 'SPRINGER US' 'WORLD TRADE ORGANIZATION' 'NSB' 'PUBLISHERS GROUP UK'
 'DEEP BOOKS' 'CADMOS EQUESTRIAN' 'BAY FOREIGN LANGUAGE BOOKS'
 'JP MEDICAL PUBLISHERS' 'DAYA PUBLISHING' 'NATIONAL ACADEMIES PRESS'
 'PUBLISHERS GROUP UK     OTO' 'VINTAGE USA' 'PETER LANG AG'
 'PLUTO PRESS (POD)' 'SIGS BOOKS & MULTIMEDIA' 'MEDICUS MEDIA LTD'
 'ELSEVIER HS12' 'ELSEVIER HS08' 'EDITION SYNAPSE' 'WORLD SCIENTIFIC'
 'LITTLE BROWN PAPERBACKS (A&C)' 'C HURST & CO (PUBLISHERS)LTD'
 'JESSICA KINGSLEY' 'KAPLAN PUBLISHING' 'ORENDA BOOKS' 'SHELDON PRESS'
 'SPCK' 'EXETER UNIVERSITY PRESS' 'UNKNOWN - MIGRATION'
 'MOTILAL UK BOOKS OF INDIA' "PETERSON'S GUIDES,U.S."
 'INST/ENGINEERING & TECHNOLOGY' 'CLEARWAY PHASE 0' 'REBELLION'
 'LITTLE- BROWN AND COMPANY' '"LITTLE, BROWN AND COMPANY AND KNOPF"'
 'FLORIS BOOKS' '"""ABRAMS, INC."""' 'ROYAL COLLEGE GEN. PRACTITION'
 'AMER PSYCH ASS.' 'APPLE ACADEMIC PRESS' 'QUADRILLE PUBLISHING'
 'PHARMACEUTICAL PRESS' 'ROYAL SOCIETY OF CHEMISTRY' 'KEGAN PAUL'
 'RANDOM HOUSE POD' 'ROCKPOOL PUBLISHING' 'ORION PAPERBACKS'
 'CAMBRIDGE PRIMARY EDUCATION' 'PICTURES TO SHARE' 'LOTUS' 'NEW HARBINGER'
 'QURESHI PUBLISHING' 'PRINCE BK' 'ABE MARKETING CO' 'ANDREWS MCMEEL HB'
 'PENGUIN RANDOM HOUSE INC.$' 'HUMAN KINETICS' 'WEST-KNOX' 'PENGUIN GROUP'
 'ROUNDHOUSE PUBLISHING GROUP' 'FIRST STONE' 'CABI' 'PINTER & MARTIN'
 'SHORT BOOKS' 'VIZ MEDIA' 'GASKELL PRESS' 'HAKLUYT SOCIETY'
 'CRIMSON PUBLISHING' 'JOHN WILEY & SONS LIMITED' 'BOOKWIRE' 'PLUTO PRESS'
 'HIMSS PUBLISHING' 'MATADOR' 'J A ALLEN & CO LTD' 'CROWOOD PRESS'
 'QUICKLOOK BOOKS' 'PAVILION' 'PAVILION POD' 'AEON BOOKS LTD'
 'MUSWELL HILL PRESS' 'HANDSPRING PUBLISHING LIMITED'
 'INTERNATIONAL WORK GROUP FOR INDIGENOUS AFFAIRS' 'SPRINGER MILAN'
 'JENNY STANFORD PUBLISHING' '"OXFORD UNIVERSITY PRESS, INCORPORATED"'
 'WISEFOOL PRESS' 'O BOOKS' 'CRITICAL PUBLISHING' 'HODDER & HEADLINE OME'
 'ELSEVIER ST07 A' 'AMERICAN MATHEMATICAL SOCIETY' 'ABINGDON' 'HEADLINE'
 'ACC ART BOOKS' 'SPON PRESS' 'WORKMAN' 'WESTVIEW' 'BIRKBECK LAW PRESS'
 'W KLUWER LAW' 'M&K UPDATE LTD' '5M PUBLISHING' 'SAGAMORE'
 'LITTLE BROWN HARDBACKS (A & C)' 'GUILFORD' 'MANNING' 'PRO-ED'
 'SCRIBE PUBLICATIONS' 'SPRINGER BERLIN HEIDELBERG' 'SOUVENIR'
 'GESTALT PRESS' 'BARRONS' 'RAINTREE EDUCATIONAL'
 'NEW YORK UNIVERSITY PRESS PB' 'NEW YORK UNIVERSITY PRESS HB'
 'SILMAN-JAM' 'QUARTO PUBLISHING GROUP' 'MACAT LIBRARY' 'LUATH PRESS'
 'EDWARD EVERETT ROOT PUBLISHERS' 'PYRCZAK' 'INGRAM' 'PERMUTED PRESS'
 'KAMINN MEDIA LTD' 'LITTLE BROWN OTO' 'BOLINDA UK EXTENDED CATALOGUE'
 'NATIONAL ACADEMIES PRESS POD' 'SCION PUBLISHING LTD' 'NEED2KNOW'
 'ELSEVIER HS 012A' 'DOUBLEDAY CANADA, LIMITED' 'HAY HOUSE PUBLISHERS'
 'GMC DISTRIBUTION' 'PLURAL PUBLISHING INC' 'HEALTH COMMUNICATIONS'
 'GOWER' 'GALLERY/SCOUT PRESS' 'GALLUP PRESS' 'CBS PUBLISHING'
 'ELSEVIER HS010' 'BLOOMSBURY EXPORT' 'BLOOMSBURY PAPERBACKS'
 'ARCTURUS PUBLISHING' 'ANTHEM PRESS' 'CANTERBURY CLASSICS'
 'EDITIONS PIERRE TISSEYRE' 'BLOOMSBURY CHILDRENS EDUCATION'
 'BRITISH COMPUTER SOCIETY' 'BERGHAHN BOOKS HARDBACKS'
 'EMERALD GROUP PUBLISHING LTD' 'PRESTEL' 'TRANSCRIPT' 'TARCHERPERIGEE'
 'ROMAN BOOKS' 'NEW INDIA PUBLISHING AGENCY' 'DUKE UNIVERSITY PRESS HB'
 'DUKE UNIVERSITY PRESS PB' 'BOYDELL & BREWER (TRADE)'
 'BOYDELL & BREWER (ACADEMIC)' 'TURNAROUND' 'TURNAROUND(PSL) LTD.'
 'ONE WORLD' 'SCHOLASTIC' 'FORDHAM UNIVERSITY PRESS P/B'
 'COMBINED ACADEMIC PUB PB' 'APHA*' 'SILVER DOLPHIN BOOKS' 'OXBOW BOOKS'
 'EARTHSCAN' 'PANOMA PRESS' 'BOLINDA UK LIMITED' 'A&C BLACK POD'
 'RIVERHEAD' 'DISNEY BOOKS' 'ROARING BROOK PRESS' 'ARTECH HOUSE BOOKS'
 'INDIANA UNIVERSITY PRESS HB' 'INDIANA UNIVERSITY PRESS PB'
 'HYPERION BOOKS' 'BRAZOS PRESS' 'GRAND CENTRAL PUB.' 'SWEET & MAXWELL'
 'PLYMOUTH UNIVERSITY PRESS' 'GREENWICH MEDICAL MEDIA LIMITED'
 'ADAMS MEDIA' 'I K INTERNATIONAL*' '"""O\'REILLY MEDIA, INCORPORATED"""'
 'BROADVIEW' 'HOLCOMB+H' 'SCHOLASTIC USA [P]' 'GROUNDWOOD BOOKS'
 'GEDDES & GROSSET' 'DOUBLEDAY' 'RAND CORPORATION' 'IOS PRESS'
 'ANDREWS MCMEEL PB' 'SPRINGER NETHERLANDS' 'BAKER' 'CORESOURCE PLUS'
 'NEWSOUTH BOOKS' 'LETTS EDUCATIONAL' 'CLASS PUBLISHING' 'PARADIGM'
 'PERSEUS  OTO' 'CENTRAL EUROPEAN UNI PRESS' 'HARPER COLLINS US' 'KAPLAN'
 'HARPER COLLINS PUBLISHERS' 'SPRINGER JAPAN' 'JAPAN TIME'
 '"W. W. NORTON & COMPANY, INCORPORATED"' 'SQUARE FISH' 'BROADWAY BOOKS'
 'OCTOPUS PUBLISHING GROUP' 'CANONGATE BOOKS EXPORT' 'PITMAN PUBLISHING'
 'DARK HORSE' 'DARK HORSE MANGA' 'SAQI BOOKS PUBLISHERS' 'MASON CREST'
 'ASTD' 'YALE UP' 'SPRINGER INDIA' 'ALPHA SCIENCE INTERNATIONAL' 'SHARPE'
 'IHS BRE PRESS' 'DOVER  OTO' 'TCP' 'RYLAND PETERS & SMALL'
 'KODANSHA EUROPE LTD' 'LONDON PUBLISHING PARTNERSHIP'
 'DIFUSION CENTRO DE INVESTIGACION Y PUBLICACIONES DE IDIOMAS S.L.'
 'BOOK ON DEMAND POD' 'RIBA PUBLISHING' 'NBS' 'PORTFOLIO USA' 'PAULIST'
 'PROFILE BOOKS' 'WHOLE PERS' 'HAMMERSMITH PRESS LIMITED' 'SWALLOW'
 'STENHOUSE' 'FOX CHAPEL' 'ABRAMS' 'MARSTON BOOK SERVICES LTD'
 'ELSEVIER HEALTH PROMO' 'ORBIS BK' 'PENN STATE PRESS' 'POLICY PRESS'
 'MICHAEL O MARA PUBLICATIONS' 'LITTLE BROWN POD'
 'LIDEL EDICOES TECNICAS LDA'
 '"""FINANCIAL TIMES BUSINESS ENTERPRISES, LIMITED"""' 'KRIEGER'
 'AMBER BOOKS' 'JONES & BARTLETT(RANGE EXT)*' 'PETER PAUPER PRESS'
 'BERKLEY' 'ELSEVIER HS10E' 'AOCS PUBLISHING' 'CSLI'
 'ELSEVIER SCIENCE & TECH  H/B' 'CHRONICLE' 'HACHETTE UK DISTRIBUTION LTD'
 '"""SCITECH PUBLISHING, INCORPORATED"""' 'CENTRAL' 'HEALTH PRESS LTD'
 'CROWN HOUSE PUBLISHING POD' 'ELSEVIER ST 011A' 'ABC CLIO'
 'EMS PUBLISHING' 'CLINICAL & PENNANT HEALTH PUBL' 'RED HEN PRESS'
 'PASTEST' 'PELAGIC PUBLISHING LTD' 'ISC MEDICAL' 'AMA' 'INTERVARS'
 'ANGLO AMERICAN BOOK CO LTD' 'HERALD PRESS' 'MCGILL QUEENS UNIV PRESS PB'
 'QUAY BOOKS' 'CLEARWAY PHASE 2' 'SEVEN STORIES PRESS'
 '"TALONBOOKS, LIMITED"' 'HOGREFE PUBLISHING' 'CLASS PUBLISHING*'
 'REGNERY PUBLISHING INC' 'JAYPEE MEDICAL' 'FILAMENT PUBLISHING LTD'
 '"LITTLE, BROWN AND COMPANY"' 'QUARTET BOOKS LTD' 'BASIC BOOKS'
 'MANHATTAN PREP PUBLISHING' '"JAMES LORIMER & COMPANY LTD., PUBLISHERS"'
 '"""ADDISON-WESLEY LONGMAN, LIMITED"""'
 'SOCIETY FOR INDUSTRIAL AND APPLIED MATHEMATICS' 'PRINTERS ROW'
 'TRIGGER PRESS' '"SHAMBHALA PUBLICATIONS, INCORPORATED"' 'APERTURE'
 'ELEVEN INTERNATIONAL PUBLISHIN' 'BORM BRUCKMEIER PUBLISHING'
 'AFRICAN & CARIBBEAN WRITERS' 'DAVID & CHARLES FW MEDIA'
 'DAVID & CHARLES' 'RYERSON' 'DENOR PRESS' 'CREDENCE PUBLICATIONS'
 'A W MAJEED' 'ASTHMA CARE IRELAND' 'BLOOMSBURY EDUCATIONAL'
 'SCITUS ACADEMICS LLC    POD' 'QUILLER PUBLISHING' 'DRAGONRISING'
 'HAZELDEN' 'RAR MEDICAL SERVICES LTD' 'CHRIS ANDREWS PUBLICATIONS'
 'PRACTICAL PRE-SCHOOL BOOKS' 'PRIM ED' 'REED' 'CROWN HOUSE PUBLISHING'
 'FISCHER' 'STATA PRESS' 'AQUAPRESS' 'CLAIRVIEW BOOKS'
 'REMEDICA PUBLISHING' 'NIGHT SHADE BOOKS' 'MARSHALL CAVENDISH TRADE'
 'BROOKES' 'J KNOX' 'EBN HEALTH' 'NO PUBLISHER' 'WEST ACADEMIC'
 'PCCS BOOKS' 'MCGILL QUEENS UNIV PRESS HB'
 'AMERICAN TECHNICAL PUBLISHERS*' 'M WIESE' 'WRITING BY CHOICE' 'TITAN'
 'CANONGATE BOOKS LTD' 'INST AUDIT' 'ASA' 'AVIAT INC' 'MELROSE BOOKS'
 'LIBRI PUBLISHING LTD' 'BEACONSFIELD PUBLISHERS' 'IMPRINT ACADEMIC'
 'PERSEUS BOOKS GROUP POD' 'SEAGULL BOOKS LONDON LTD'
 'AMBERLEY PUBLISHING PLC' 'DEL REY' 'GINN & CO' 'DOUGLAS & MCINTYRE'
 'HARPER COLLINS  POD' 'BF UK LTD' 'PROJ MGMT'
 'ROBERTS & COMPANY PUBLISHERS' '"""PLURAL PUBLISHING, INCORPORATED"""'
 'BURLEIGH DODDS SCIENCE PUBLISH' '"GAZELLES, INC."' 'ELEPHANT ROOM PRESS'
 'HARPER COLLINS OME' 'ANNESS PUBLISHING' 'NEW GENERATION PUBLISHING POD'
 'AMBERWOOD PUBLISHING LTD' 'FLAME TREE PUBLISHING'
 'CHELLO PUBLISHING LTD' 'WEXFORD COLLEGE PRESS' 'BLAKE EDUCATION'
 'AUSTIN MACAULEY PUBLISHERS LTD' 'LIVERPOOL UNIVERSITY PRESS PB'
 'BERKLEE PR' 'CHRIS LLOYD' 'ELSEVIER SCIENCE & TECH  P/B' 'OBRIEN PRESS'
 '"PEARSON CANADA, TORONTO"' 'INDUSTRIAL PRESS' 'MANNING PARTNERSHIP LTD'
 'CAMBRIDGE UNIV PRESS POD P/B' 'ICON BOOKS' 'PEARSON ELT' 'DIO PRESS INC'
 'HARPER COLLINS TRADE SALES' '"MARVEL WORLDWIDE, INCORPORATED"'
 'RANDOM HOUSE EXPORT' 'PENGUIN MD' 'CLINICAL POCKET REFERENCE' 'KUPERARD'
 'PENGUIN PRESS/CLASSICS' 'HARPER COLLINS PUBLISHERS- USA' 'BALZER + BRAY'
 'GROSVENOR HOUSE PUBLISHING' 'RUDOLF STEINER PRESS'
 'COLD SPRING HARBOR LAB PRESS' 'HYPERION' 'PENNWELL' 'ANSHAN PUBLISHING'
 '"HACKETT PUBLISHING COMPANY, INCORPORATED"' 'BROWN BEAR PRESS'
 '"""JOHN WILEY & SONS, INCORPORATED"""' 'IRWIN LAW' 'COACH HSE'
 'INTERWEAVE' 'ORION HARDBACKS' 'ORION PUBLISHING OME' 'ROBERT HALE'
 '"""SITEPOINT PTY, LIMITED"""' 'PATTERSON MEDICAL LTD'
 'INFORMA HEALTHCARE' 'HAWTHORN PRESS'
 'ROYAL COLLEGE OF OBSTETRICIANS & GYNAECOLOGISTS PRESS'
 'MCCLELLAND & STEWART' 'OTTAWA UNIVERSITY PRESS' 'DC COMICS'
 'AUTHOR ESSENTIALS LTD' 'ARCHIVE PUBLISHING' 'JUMP LIBRARY'
 'BRIGHT RED PUBLISHING LTD' 'COLUMBUS PUBLISHING LTD'
 'PERENNIAL (HARPER)' 'TITAN BOOKS' 'VERTIGO COMICS' 'VERTIGO' 'PERSEUS'
 'ECCO' 'K/H' 'BONNIER ADULT' 'GOODFELLOW PUBLISHERS'
 'DEDALUS BOOKS LIMITED' 'BALLANTINE BOOKS' 'BPP LEARNING MEDIA MEDICAL'
 'DIAMOND BOOK DISTRIBUTORS' 'ATLANTIC BOOKS EXPORT' 'NEW HOLLAND'
 'MACMILLAN POD' 'HOW2BECOME LTD' 'AMAZON.COM' 'GIBSON SQUARE LIMITED'
 'COLORADO & UTAH STATE UNI PRES' 'FORTRESS PRESS' 'MURDOCH BOOKS'
 'MORROW WILLIAM' 'OVOLO BOOKS LTD.' 'QUERCUS HARDBACKS' 'ROBERTS & CO'
 'DARK HORSE BOOKS' '"CENGAGE LEARNING, INC"'
 'MACMILLAN DISTRIBUTION LIMITED' 'NHBS LTD'
 '"DOVER PUBLICATIONS, INCORPORATED"' 'CLE INTL' 'ARMAND COLIN'
 'CYPRESS BOOK CO LTD IMPORT' 'MULTILINGUAL MATTERS'
 'HOUGHTON MIFFLIN HARCOURT USA' 'GRANTHAM BOOK SERVICES LTD. (TBS)'
 'HARP SANFR' 'BERGAHN' 'GIA' 'ELLIOTT & THOMPSON' 'HARP'
 'PAN MACMILLAN PAPERBACKS' 'HEAD OF ZEUS' 'IIBA' 'DCB' 'GALVANIZED BOOKS'
 'NEW SOC' 'ONWARDS & UPWARDS' 'REAKTION BOOKS LTD' 'HAYNES'
 '"""MERIWETHER PUBLISHING, LIMITED"""' 'LION PUBLISHING'
 'JOHN BLAKE PUBLISHING' 'KEW PUBLISHING' 'BOOKERY'
 '"""ADDISON-WESLEY LONGMAN, INCORPORATED"""' 'ALBAN BOOKS' 'BRIDGEPNT'
 'ARCADE PUBLISHING'
 '"DIFUSION CENTRO DE PUBLICACION Y PUBLICACIONES DE IDIOMAS, S.L."'
 '"GROVE/ATLANTIC, INCORPORATED"' 'EERDMANS' 'PERENNIAL'
 'I B TAURIS ACADEMIC' 'PADEMELON' 'FITNESS INFO TECH' 'HAYMARKET BOOKS'
 'GALLAUDET' 'CHARISMA HOUSE' 'USBORNE' 'STUDYMATES'
 'PLAYWRIGHTS CANADA PRESS' 'ANTHEM PR' 'CROWN HOUSE PUBLICATIONS TRADE'
 'BROADMAN' 'JANUS PUBLISHING' 'MIRA' 'AMERICAN MAP CORPORATION*'
 'BRISTOL UNIVERSITY PRESS' 'ELSEVIER ST08' 'OLIVIA' 'PAUL LIMA PRESENTS'
 'NAEYC' '"""AVIATION SUPPLIES & ACADEMICS, INCORPORATED"""' 'LIZ COOK'
 'INFO AGE' 'NORTHLIGHT' 'CROSSKEYS SELECT BOOKS' 'KATHERINE TEGEN BOOKS'
 '"""BERRETT-KOEHLER PUBLISHERS, INCORPORATED"""' 'GARNET'
 'PACKT PUBLISHING, LIMITED' 'MARION BOYARS PUBLISHERS LTD'
 'PRAGMATIC PROGRAMMERS, LLC, THE' 'PEN & SWORD BOOKS' 'HARPERALLEY'
 'ALPHABET' 'JONES & BARTLETT (M/D)*' 'BOOSEY'
 'FORDHAM UNIVERSITY PRESS H/B' 'SCHOOL OF LIFE' 'SCHOFIELD & SIMS LTD'
 "PING-CHENG T'UNG" 'ALTERNATIVE TRAINING'
 'CREATIONS LOISIRS ENSEIGNEMENT INTERNATIONAL'
 'MCGRAW HILL PROF (BUSINESS)' 'INTELLECT' 'SEARCH PRESS LTD' 'LIMELIGHT'
 'GRANTA BOOKS' 'EMOND MONT' 'PSCYHOLOGY PRESS' 'SPCK ST VLADS'
 'ISY GRIGG' 'PAULIST PRESS' 'METONYMY' 'COMBINED BOOK SERVICES LTD'
 'GREEN MAGIC PUBLISHING' 'CLAYS' 'EARTHDANCER BOOKS' 'ACCENT PRESS LTD'
 'TAUNTON PR' 'DAVID URCH' 'DUNDURN' 'MEMOIRS PUBLISHING' 'CITADEL PRESS'
 'SCHWALBE' 'CAPTUS PR' 'INDEPENDENCE PUBLISHERS'
 '"""MCGRAW-HILL COMPANIES, THE"""' 'SHER MUSIC'
 'INGRAM INTERNATIONAL INC.' 'EPFL PRESS' 'I B TAURIS & CO LTD' 'MURACH'
 'FOULSHAM' '"SPRINGER VERLAG, SINGAPORE"' 'APPLAUSE'
 'GRAND CENTRAL LIFE & STYLE' 'CYAN BOOKS*' 'MX PUBLISHING' 'STEP PUB'
 'NEW DIRECTIONS' 'COMBINED ACADEMIC PUBL ( OTO )'
 'CONNECTIONS BOOK PUBLISHING' 'ESRI' 'FITZHENRY' 'HIPPOCRENE'
 'SIGNATURE BOOK REPRESENTATION' 'PORTABLE PRESS' 'MGM'
 'SIMON & SCHUSTER OME' 'FAIRLIGHT BOOKS' 'PUDDLEDANCER PRESS' 'AA WORLD'
 'HUMAN GIVENS' 'WAVELAND' 'ALLWORTH' 'ALBAN BOOKS POD' 'KENILWORTH PRESS'
 'DAVID C COOK PUBLICATIONS' 'CASEMATE UK LTD' 'AMOLIBROS' 'KENDALL HUNT'
 'BOOKS INTERNATIONAL- INC.' 'PRACTICAL INSPIRATION' 'MERRELL'
 'OLD POND PUBLISHING' 'BOOKLIFE' 'TUTTLE' 'NICHOLAS BREALEY PUBLISHING'
 'GARDNERS BOOKS HOLDING ACCOUNT' 'DIOGENES' 'ROBINSON PUBLISHING M/D'
 '"MASCOT BOOKS, INCORPORATED"' 'MUSIC SALES CORPORATION'
 'AMERICAN INSTITUTE OF CHEMICAL ENGINEERS' 'ARSENAL PULP PRESS'
 'EDITIONS NOVALIS' 'OSPREY POD' 'SPOKESMAN BOOKS' 'METACOM EDUCATION'
 'MEREDITH M' 'CLICKETY BOOKS LTD' 'PENNSYLVANIA UNIVERSITY PRESS'
 'MERCIER PRESS' 'HINKLER BOOKS' 'PARTHIAN BOOKS' 'BLACK DOG & LEVENTHAL'
 'NEW RIDERS PUBLISHING' 'LID PUBLISHING' 'R RINEHART' 'POLICY PRESS POD'
 'BONNIER CHILDRENS' 'NEW DIRECTIONS PUBLISHING CORPORATION'
 'ESI INTERNATIONAL' '"""MIKE MURACH & ASSOCIATES, INCORPORATED"""'
 'STYLUS PUB' '"SAGE PUBLICATIONS, INCORPORATED"'
 'BLOOMSBURY PUBLISHING POD' '"WORTH PUBLISHERS, INCORPORATED"'
 'BITEBACK PUBLISHING' 'FEDERATION'
 '"UNIVERSITY PRESS OF AMERICA, INCORPORATED"' 'F&W PUBLICATIONS INC'
 'KAPLAN AEC EDUCATION' 'SKYHORSE PUBLISHING' 'VEGAN HERITAGE PRESS'
 'VIZ MEDIA, SUBS. OF SHOGAKUKAN INC' 'SPORTS PUBLISHING LLC'
 'TANGLEWOOD PRESS' 'THUNDER BAY PRESS' 'SIMON & SCHUSTER PB'
 'SIMON & SCHUSTER PUBLISHERS INDIA PVT LTD' 'SIMON & SCHUSTER UK'
 "SIMON & SCHUSTER CHILDREN'S UK" 'S&S INDIA' 'ACCORD PUBLISHING LTD'
 'WATERHOUSE PRESS' 'KENDALL HUNT/MARSTEN' 'THOMSON REUTERS'
 'GOODHEART WILCOX']
['GBP' 'AUD' 'USD' 'CAD' 'SGD' 'TWD' 'EUR' 'CNY']

In [24]:
# We have too many Publihser's name, we have to merge with the dictionary,
#Left Join would do the work
df.head()

,PublisherLong,PublisherShort
0,"""Abrams, Inc.""",ABRAMS
1,"""Addison-Wesley Longman, Incorporated""",PEARSON
2,"""Addison-Wesley Longman, Limited""",PEARSON
3,"""Allyn & Bacon, Incorporated""",PEARSON
4,"""American Occupational Therapy Association, In...","American Occupational Therapy Association, Inc..."

In [25]:
for col in list(df.columns):
    df[col] = df.apply(lambda x: clean_up(x[col]), axis =1)

In [27]:
df['PublisherShort'].unique()

array(['ABRAMS', 'PEARSON',
       'AMERICAN OCCUPATIONAL THERAPY ASSOCIATION, INCORPORATED',
       'ARCHIVE EDITIONS, LIMITED', 'AVIAT INC', 'BERRETT-KOEHLER',
       'FINANCIAL TIMES BUSINESS ENTERPRISES, LIMITED', 'WILEY', 'MCGRAW',
       'PIONEER DRAMA', 'MURACH', "O'REILLY", 'PLURAL PUBLISHING INC',
       'SCITECH PUBLISHING, INCORPORATED', 'SITEPOINT PTY, LIMITED',
       'SLACK', 'TIMBER PRESS',
       'DIFUSION CENTRO DE PUBLICACION Y PUBLICACIONES DE IDIOMAS, S.L.',
       'GAZELLE BOOK SERVICES', 'GROVE/ATLANTIC, INCORPORATED',
       'JAMES LORIMER & COMPANY LTD., PUBLISHERS', 'HACHETTE LIVE',
       'MASCOT BOOKS, INCORPORATED', 'TALONBOOKS, LIMITED',
       'A&C BLACK POD', 'AA WORLD', 'ABC CLIO', 'ABINGDON',
       'ADAMS MEDIA CORPORATION', 'AFRICAN & CARIBBEAN WRITERS', 'ALA',
       'ALEK', 'ALFRED MUSIC', 'ALLWORTH', 'AMA', 'AMER PSYCH ASS.',
       'AMAZON.COM', 'AMERICAN MATHEMATICAL SOCIETY', 'ANDREWS MCMEEL HB',
       'ANDREWS MCMEEL PB', 'ANGLO AMERICAN BOOK CO LTD', 'ANTHEM PR',
       'AOCS PUBLISHING', 'AOTA', 'APERTURE', 'APPLAUSE',
       'APPLE ACADEMIC PRESS', 'ARMAND COLIN', 'ARSENAL PULP PRESS',
       'SCHOLASTIC', 'ASA', 'ASTD', 'SIMON & SCHUSTER', 'AVIVA PUB',
       'BAKER', 'BALLANTINE BOOKS', 'BALZER + BRAY', 'BARCELONA',
       'BARRONS', 'RANDOM HOUSE', 'BERGAHN', 'BERKLEE PR', 'BERKLEY',
       'BF UK LTD', 'BIRKBECK LAW PRESS', 'BLOOMSBURY', 'BOOKERY',
       'BOOKS INTERNATIONAL- INC.', 'BOOKWIRE', 'BOOSEY', 'BRAZOS PRESS',
       'BRIDGEPNT', 'BRIGHT RED PUBLISHING LTD',
       'BRITISH COMPUTER SOCIETY', 'BROADMAN', 'BROADVIEW',
       'BROADWAY BOOKS', 'BROOKINGS', 'BROWN BEAR PRESS',
       'BRUNSWICK BOOKS', 'C HURST & CO (PUBLISHERS)LTD',
       'CALIFORNIA UNIVERSITY PRESS', 'CAMBRIDGE', 'CANTERBURY CLASSICS',
       'CAPTUS PR', 'CENGAGE', 'CENTRAL BOOKS', 'CHELSEA G',
       'CHICAGO UNIVERSITY PRESS', 'CHRONICLE', 'CLE INTL',
       'CLEARWAY PHASE 0', 'COACH HSE', 'HARPER COLLINS', 'T&F',
       'CREATIONS LOISIRS ENSEIGNEMENT INTERNATIONAL',
       'CRITICAL PUBLISHING', 'CSLI', 'CUP ELT', 'DARK HORSE',
       'DARK HORSE BOOKS', 'DARK HORSE MANGA', 'DAVID FULTON PUBLISHERS',
       'DC COMICS', 'DEDALUS BOOKS LIMITED', 'DEEP BOOKS', 'DEL REY',
       'DELL',
       'DIFUSION CENTRO DE INVESTIGACION Y PUBLICACIONES DE IDIOMAS S.L.',
       'DIO PRESS INC', 'DIOGENES', 'DOUBLEDAY', 'DOUGLAS & MCINTYRE',
       'DUNDURN', 'EARTHSCAN', 'ECCO', 'EDITION SYNAPSE',
       'EDITIONS NOVALIS', 'EDITIONS PIERRE TISSEYRE',
       'EDMOND PUBLISHING', 'EERDMANS', 'ELEPHANT ROOM PRESS', 'ELSEVIER',
       'EMERALD', 'EMOND MONT', 'EPFL PRESS', 'ESI INTERNATIONAL', 'ESRI',
       'ESTATES GAZETTE', 'EUROSPAN', 'EYE ON EDUCATION', 'FEDERATION',
       'FISCHER', 'FITNESS INFO TECH', 'FITZHENRY', 'FOCAL PR',
       'FOOTPRINT', 'GALLAUDET', 'GALLERY/SCOUT PRESS', 'GALLUP PRESS',
       'GESTALT PRESS', 'MACMILLAN', 'GINN & CO', 'GMC DISTRIBUTION',
       'GOWER', 'GRAND CENTRAL LIFE & STYLE',
       'GREENWICH MEDICAL MEDIA LIMITED', 'GROUNDWOOD BOOKS',
       'HAKLUYT SOCIETY', 'HARP', 'HARP SANFR', 'HAYMARKET BOOKS',
       'HEINEMANN', 'HERALD PRESS', 'HIMSS PUBLISHING', 'HIPPOCRENE',
       'HOLCOMB+H', 'HUMAN KINETICS', 'I B TAURIS ACADEMIC',
       'IHS BRE PRESS', 'IIBA', 'INDUSTRIAL PRESS', 'INFO AGE', 'INGRAM',
       'INST AUDIT', 'INTERNATIONAL WORK GROUP FOR INDIGENOUS AFFAIRS',
       'INTERVARS', 'INTERWEAVE', 'INTL RDG', 'IRWIN LAW', 'ISTE',
       'J KNOX', 'JAPAN TIME', 'JASON ARONSON INC', 'JAYPEE MEDICAL',
       'JENNY STANFORD PUBLISHING', 'JESSICA KINGSLEY',
       'JOHN WILEY & SONS LIMITED', 'J&B', 'K/H', 'KAPLAN PUBLISHING',
       'KATHERINE TEGEN BOOKS', 'KEGAN PAUL', 'KRIEGER', 'KUPERARD',
       'LETTS EDUCATIONAL', 'ROWMAN & LITTLEFIELD',
       'LIDEL EDICOES TECNICAS LDA', 'LIGHTNING SOURCE UK LTD',
       'LIMELIGHT', 'LYNNE RIENNER', 'M WIESE', 'MACAT LIBRARY',
       'MARSTON BOOK SERVICES LTD', 'MATERIALS RESEARCH SOCIETY',
       'MCCLELLAND & STEWART', 'MELIA PUBLISHING SERVICES LTD',
       'MEREDITH M', 'METONYMY', 'MGM', 'MLA',
       'MOTILAL UK BOOKS OF INDIA', 'MUSIC SALES CORPORATION',
       'N HARBINGR', 'N SCHUMAN', 'N/A', 'NAEYC',
       'NATIONAL ACADEMIES PRESS', 'NAVAL INST', 'NBS', 'OXFORD',
       'NETHERLANDS INSTITUTE FOR SOCIAL RESEARCH',
       'NEW DIRECTIONS PUBLISHING CORPORATION', 'NEW RIDERS PUBLISHING',
       'NEW SOC', 'NON BASIC STOCK LINE', 'NONE', 'NORTHLIGHT', 'NSB',
       'OLIVIA', 'ONE WORLD', 'ORBIS BK', 'OXFORD UP ELT', 'PADEMELON',
       'PAUL LIMA PRESENTS', 'PAULIST', 'PAULIST PRESS', 'PEARSON ELT',
       'PENGUIN RANDOM HOUSE USA', 'PERENNIAL', 'PERIBO',
       'PHARMACEUTICAL PRESS', "PING-CHENG T'UNG", 'PITMAN PUBLISHING',
       'PLAYWRIGHTS CANADA PRESS', 'PLENUM PUB CORP', 'PLUTO PRESS (POD)',
       'PM PRESS', 'PRACTICAL PRE-SCHOOL BOOKS', 'PRIM ED', 'PRINCE BK',
       'PRINTERS ROW', 'PROJ MGMT', 'PSCYHOLOGY PRESS',
       'PUBLISHERS GROUP UK', 'PUDDLEDANCER PRESS', 'PYRCZAK',
       'R RINEHART', 'RAINTREE EDUCATIONAL', 'RED HEN PRESS',
       'REDLEAF PR', 'REED', 'RFF PRESS', 'RIBA PUBLISHING',
       'ROARING BROOK PRESS', 'ROBERTS & CO',
       'ROBERTS & COMPANY PUBLISHERS',
       'ROYAL COLLEGE OF OBSTETRICIANS & GYNAECOLOGISTS PRESS',
       'ROYAL SOCIETY OF CHEMISTRY', 'RYERSON', 'SAGE',
       'SAQI BOOKS PUBLISHERS', 'SCARECROW PRESS INC', 'SCHWALBE',
       'SCION PUBLISHING LTD', 'SHARPE', 'SHER MUSIC',
       'SIGS BOOKS & MULTIMEDIA', 'SILMAN-JAM', 'SME',
       'SOCIETY FOR INDUSTRIAL AND APPLIED MATHEMATICS',
       'SPECIAL SALES PROMOTION', 'SPON PRESS', 'SPRINGER', 'SQUARE FISH',
       'STATA PRESS', 'STENHOUSE', 'STEP PUB', 'STUDYMATES', 'STYLUS PUB',
       'SWALLOW', 'SWEDISH PHARMACEUTICAL PRESS', 'SWEET & MAXWELL',
       'TARCHERPERIGEE', 'TAUNTON PR', 'TCP', 'THIEME', 'TITAN',
       'TITAN BOOKS', 'TORONTO UNIVERSITY PRESS', 'TRANSCRIPT',
       'TRIGGER PRESS', 'TURNAROUND', 'UNITED', 'UNIVERSITY PRESS',
       'UNKNOWN - MIGRATION', 'USBORNE', 'VERSO EDITIONS', 'VERTIGO',
       'VIZ MEDIA', 'VIZ MEDIA LLC', 'WEST-KNOX', 'WESTMINSTR',
       'WESTVIEW', 'WEXFORD COLLEGE PRESS', 'WHOLE PERS',
       'WISEFOOL PRESS', 'WIZARDS OF THE COAST', 'W KLUWER',
       'W KLUWER LAW', 'W KLUWER HEALTH', 'WORKMAN',
       'WORLD TRADE ORGANIZATION', 'WRITING BY CHOICE', '3D TOTAL', 'AAP',
       'AIAA', 'ALIEN & UNWIN', 'ASHGATE', 'ASHP', 'ATP', 'BASIC BOOKS',
       'BLC UP', 'BROOKES', 'CABI', 'HOUGHTON MIFFLIN', 'COLUMBIA UP',
       'EDWARD ELGAR', 'FA DAVIS', 'FOCUS PUBLISHING', 'GEORGETOWN UP',
       'GOODHEART-WILLCOX', 'GUILFORD', 'HEALTH PROFFESIONALS', 'HEINLE',
       'HOLT MCDOUGAL', 'J ROSS', 'JOHN BENJAMINS PUBLISHING',
       'LEIDEN UP', 'LWW', 'MERCK PUBLISHING', 'MERCURY LEARNING',
       'MERLIN PRESS', 'MULTILINGUAL MATTERS', 'NEWSOUTH BOOKS',
       'AUSTRALIA ACADEMY', 'NORTON', 'NOVA SCIENCE PUBLISHERS',
       'PARADIGM', 'PERSEUS', 'PETER LANG AG', 'PLUTO PRESS', 'SAGAMORE',
       'SAXON PUBLISHERS', 'SINAUER', 'STANFORD UP', 'THAMES & HUDSON',
       'THOROGOOD', 'TUTTLE', 'PRINCETON', 'WEST ACADEMIC', 'WOODSLANE',
       'WORLD SCIENTIFIC', 'YALE UP', 'HAWTHORNE', 'CARSON DELLOSA',
       'OUR SUNDAY VISITOR', 'LYCEUM', 'THOMSON REUTERS', 'FANTAGRAPHICS',
       'PRO-ED', 'DOVER', 'RAND MCNALLY', 'LULU', 'SAMUEL FRENCH',
       'WAVELAND', 'IMPACT', 'HARVARD UP', 'GIA', 'HAMPTON-BROWN',
       'LLEWELLYN', 'KOGAN PAGE', 'KENDALL HUNT', 'RUNNING PRESS',
       'MCFARLAND AND CO', 'FORTRESS PRESS', 'HAYNES', 'GEORGE BRAZILLER',
       'OHIO UP', 'ST PAULS', 'SPIE', 'SADLIER', 'HEBREW UP', 'LOYOLA UP',
       'SCHUMAN', 'HOLMES & MEIER', 'RIZZOLI', 'BOYDELL & BREWER',
       'PLEXUS', 'BOLCHAZY-CARDUCCI', 'INCENTIVE PUBLICATIONS',
       'QUINTESSENCE', 'NCTM', 'PENNWELL', "SAINT MARY'S PRESS",
       'CHENG & TSUI', 'PLAYERS PRESS', 'LORENZ', 'MORTON',
       'QUITE SPECIFIC', 'VENTURE PUB', 'PRAKKEN', 'NCFR', 'LOTUS',
       'PROJECT ADVENTURE', 'FEMINIST PRESS', 'ENTERPRISE', 'FERRET',
       'HAZELDEN', 'MIKE HOLT', 'WESSEX', 'BENNING', 'SOUTH WESTERN',
       'VISTA', 'HAL LEONARD CORP', 'FERNWOOD', 'FULCRUM', 'GRAYWOLF',
       'KODANSHA', 'POTOMAC', 'FREE SPIRIT', 'GLEIM', 'GINGKO',
       'OAK KNOLL', 'SAINT AUGUSTINE PRESS', 'LABYRINTH', 'TOWNSEND',
       'ENCYCLOPEDIA BRITANNICA', 'SLOAN', 'FOUNTAINHEAD', 'MANGAN COMM',
       'HARTMAN', 'AM HEART', 'MANNING', 'MICROCOSM', 'EQUINOX', 'GARNET',
       'PEEPAL TREE', 'LIVE OAK', 'APEX', 'GLAGOSLAV', 'ROTHSTEIN',
       'LITMUS', 'HERCHER', 'MCGILL UP', 'ALPHABET', 'LAROUSSE',
       'DE GREYTER', 'CAMDEN', 'NO PUBLISHER'], dtype=object)

In [28]:
sup_list2 = pd.merge(sup_list, df, how='left', left_on = 'Publisher', right_on = 'PublisherLong' )

In [29]:
sup_list2

,ISBN,Supplier,Publisher,Currency,Discount,UnitShippingCost,MaxQtyPerOrder,price,PublisherLong,PublisherShort
0,9780262530873,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,1000,4.99,UNIVERSITY PRESS,UNIVERSITY PRESS
1,9780262530989,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,1000,25.00,UNIVERSITY PRESS,UNIVERSITY PRESS
2,9781760110185,ZOOKAL,ALIEN & UNWIN,AUD,0.00,3.30,150,13.00,ALIEN & UNWIN,ALIEN & UNWIN
3,9780262531092,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,1000,37.95,UNIVERSITY PRESS,UNIVERSITY PRESS
4,9780262531146,BERTRAMS,N/A,GBP,0.00,3.47,100,45.00,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...
3320779,9780141191669,ALEK,RANDOM HOUSE,USD,0.64,0.50,5000,20.00,RANDOM HOUSE,RANDOM HOUSE
3320780,9780141191744,ALEK,RANDOM HOUSE,USD,0.64,0.50,5000,19.00,RANDOM HOUSE,RANDOM HOUSE
3320781,9780141191751,ALEK,RANDOM HOUSE,USD,0.64,0.50,5000,11.00,RANDOM HOUSE,RANDOM HOUSE
3320782,9780141191768,ALEK,RANDOM HOUSE,USD,0.64,0.50,5000,15.00,RANDOM HOUSE,RANDOM HOUSE
3320783,9781760110178,ZOOKAL,ALIEN & UNWIN,AUD,0.00,3.30,150,13.00,ALIEN & UNWIN,ALIEN & UNWIN

In [30]:
sup_list2.drop(columns = ['PublisherLong'], inplace = True)

In [35]:
print('# of pubs in PublishertShort Column: ', len(sup_list2['PublisherShort'].unique()))
print('# of pubs in Publisher Column: ', len(sup_list2['Publisher'].unique()))

# of pubs in PublishertShort Column:  319
# of pubs in Publisher Column:  747

In [32]:
sup_list2.head()

,ISBN,Supplier,Publisher,Currency,Discount,UnitShippingCost,MaxQtyPerOrder,price,PublisherShort
0,9780262530873,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,1000,4.99,UNIVERSITY PRESS
1,9780262530989,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,1000,25.00,UNIVERSITY PRESS
2,9781760110185,ZOOKAL,ALIEN & UNWIN,AUD,0.00,3.30,150,13.00,ALIEN & UNWIN
3,9780262531092,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,1000,37.95,UNIVERSITY PRESS
4,9780262531146,BERTRAMS,N/A,GBP,0.00,3.47,100,45.00,N/A