In [1]:
import pandas as pd
import pyodbc
import numpy as np

In [2]:
import sqlCredentials as sql

In [3]:
sandbox = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'Server=52.86.56.66;'
    'Database=PROCUREMENTDB;'
    'UID='+sql.username+';'
    'PWD='+sql.password+';'
    'Trusted_connection=no;'
)

In [4]:
pub_dict = """
SELECT *
FROM dbo.PublisherDictionary
"""

In [5]:
df = pd.read_sql(pub_dict,sandbox)

In [6]:
df.head()

,PublisherLong,PublisherShort
0,"""Abrams, Inc.""",ABRAMS
1,"""Addison-Wesley Longman, Incorporated""",PEARSON
2,"""Addison-Wesley Longman, Limited""",PEARSON
3,"""Allyn & Bacon, Incorporated""",PEARSON
4,"""American Occupational Therapy Association, In...","American Occupational Therapy Association, Inc..."

In [7]:
df.dtypes

PublisherLong     object
PublisherShort    object
dtype: object

In [8]:
megalist = """
SELECT *
FROM Process.SupplierMegaList
"""

In [9]:
megalist = pd.read_sql(megalist,sandbox)

In [10]:
megalist.head()

,ISBN,Supplier,ListName,Publisher,Currency,ListPrice,Discount,CostUnitPrice,OrderPercentFee,FlatRateFee,...,MaxCostPerOrder,MinCostPerOrder,ShipmentOrigin,Recurrency,Stockqty,UnitShippingCost,ExpirationDate,TotalUnitCost,Comment,Timestamp
0,9780262530873,BILLSON,pubs_matrix,UNIVERSITY PRESS,GBP,4.99,0.38,3.09,0.03,0.0,...,0.0,0.0,UK,weekly,3,3.47,2020-03-06,7.07,None,2020-03-23 18:00:00.863
1,9780262530989,BILLSON,pubs_matrix,UNIVERSITY PRESS,GBP,25.00,0.38,15.50,0.03,0.0,...,0.0,0.0,UK,weekly,3,3.47,2020-03-06,21.53,None,2020-03-23 18:00:00.863
2,9781760110185,ZOOKAL,Zookal Supplylist 3-23-2020,ALIEN & UNWIN,AUD,0.00,0.00,13.00,0.00,0.0,...,0.0,0.0,AUS,1 time,150,3.30,2020-09-19,10.83,None,2020-03-23 18:00:00.863
3,9780262531092,BILLSON,pubs_matrix,UNIVERSITY PRESS,GBP,37.95,0.38,23.53,0.03,0.0,...,0.0,0.0,UK,weekly,3,3.47,2020-03-06,30.88,None,2020-03-23 18:00:00.863
4,9780262531146,Bertrams,BertramsFTP3110,N/A,GBP,45.00,0.00,0.00,0.00,0.0,...,0.0,0.0,UK,weekly,0,3.47,2020-01-13,55.90,None,2020-03-23 18:00:00.863

In [11]:
megalist.dtypes

ISBN                        object
Supplier                    object
ListName                    object
Publisher                   object
Currency                    object
ListPrice                  float64
Discount                   float64
CostUnitPrice              float64
OrderPercentFee            float64
FlatRateFee                float64
LeadTimeWeeks               object
MaxQtyPerOrder               int64
MinQtyPerOrder               int64
MaxCostPerOrder            float64
MinCostPerOrder            float64
ShipmentOrigin              object
Recurrency                  object
Stockqty                     int64
UnitShippingCost           float64
ExpirationDate      datetime64[ns]
TotalUnitCost              float64
Comment                     object
Timestamp           datetime64[ns]
dtype: object

In [12]:
megalist.columns

Index(['ISBN', 'Supplier', 'ListName', 'Publisher', 'Currency', 'ListPrice',
       'Discount', 'CostUnitPrice', 'OrderPercentFee', 'FlatRateFee',
       'LeadTimeWeeks', 'MaxQtyPerOrder', 'MinQtyPerOrder', 'MaxCostPerOrder',
       'MinCostPerOrder', 'ShipmentOrigin', 'Recurrency', 'Stockqty',
       'UnitShippingCost', 'ExpirationDate', 'TotalUnitCost', 'Comment',
       'Timestamp'],
      dtype='object')

In [18]:
sup_list = megalist[['ISBN', 'Supplier', 'Publisher', 'Currency','ListPrice','Discount','CostUnitPrice', 'UnitShippingCost']]

In [19]:
sup_list.head()

,ISBN,Supplier,Publisher,Currency,ListPrice,Discount,CostUnitPrice,UnitShippingCost
0,9780262530873,BILLSON,UNIVERSITY PRESS,GBP,4.99,0.38,3.09,3.47
1,9780262530989,BILLSON,UNIVERSITY PRESS,GBP,25.00,0.38,15.50,3.47
2,9781760110185,ZOOKAL,ALIEN & UNWIN,AUD,0.00,0.00,13.00,3.30
3,9780262531092,BILLSON,UNIVERSITY PRESS,GBP,37.95,0.38,23.53,3.47
4,9780262531146,Bertrams,N/A,GBP,45.00,0.00,0.00,3.47

In [20]:
sup_list['price'] = np.where(sup_list['ListPrice'] == 0.00, sup_list['CostUnitPrice'], sup_list['ListPrice'])

C:\Users\Jose\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
sup_list.head()

,ISBN,Supplier,Publisher,Currency,ListPrice,Discount,CostUnitPrice,UnitShippingCost,price
0,9780262530873,BILLSON,UNIVERSITY PRESS,GBP,4.99,0.38,3.09,3.47,4.99
1,9780262530989,BILLSON,UNIVERSITY PRESS,GBP,25.00,0.38,15.50,3.47,25.00
2,9781760110185,ZOOKAL,ALIEN & UNWIN,AUD,0.00,0.00,13.00,3.30,13.00
3,9780262531092,BILLSON,UNIVERSITY PRESS,GBP,37.95,0.38,23.53,3.47,37.95
4,9780262531146,Bertrams,N/A,GBP,45.00,0.00,0.00,3.47,45.00

In [23]:
sup_list.drop(columns = ['ListPrice', 'CostUnitPrice'], inplace = True)

C:\Users\Jose\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [24]:
sup_list

,ISBN,Supplier,Publisher,Currency,Discount,UnitShippingCost,price
0,9780262530873,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,4.99
1,9780262530989,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,25.00
2,9781760110185,ZOOKAL,ALIEN & UNWIN,AUD,0.00,3.30,13.00
3,9780262531092,BILLSON,UNIVERSITY PRESS,GBP,0.38,3.47,37.95
4,9780262531146,Bertrams,N/A,GBP,0.00,3.47,45.00
...,...,...,...,...,...,...,...
3320779,9780141191669,ALEK,RANDOM HOUSE,USD,0.64,0.50,20.00
3320780,9780141191744,ALEK,RANDOM HOUSE,USD,0.64,0.50,19.00
3320781,9780141191751,ALEK,RANDOM HOUSE,USD,0.64,0.50,11.00
3320782,9780141191768,ALEK,RANDOM HOUSE,USD,0.64,0.50,15.00
3320783,9781760110178,ZOOKAL,ALIEN & UNWIN,AUD,0.00,3.30,13.00

In [26]:
sup_list['Supplier'].unique()

array(['BILLSON', 'ZOOKAL', 'Bertrams', 'ALEK', 'ALEK ', 'Probook',
       'Billson', 'UT', 'Laurentiu', 'ABE', 'SENAD', 'Alek', 'Friday',
       'BRYAN', 'RAJAN', 'LAURENTIU', 'SOHRAB', 'Apex', 'laurentiu',
       'APEX', 'PROBOOK', 'Sohrab', 'Billson T', 'MYAMMAR', 'Bryan',
       'Textbook Trade HK', 'GAUTAM', 'WESTERN CAMPUS', 'Felipe/Armando',
       'FELIPE/ARMANDO', 'Armando', 'Billson - SCI'], dtype=object)